<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-layout.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body>

<section layout:fragment="content">
    <!-- Content -->
    <div class="content container my-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Contacts List</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addContactModal">
                Add Contact
            </button>
        </div>
        <div class="table-container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Job</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contact, status : ${contacts}">
                <td th:text="${status.index + 1}">1</td>
                <td th:text="${contact.fullName}">Full Name</td>
                <td th:text="${contact.phone}">Phone</td>
                <td th:text="${contact.email}">Email</td>
                <td th:text="${contact.address}">Address</td>
                <td th:text="${contact.jobTitle}">Job</td>
                <td>
                    <div class="action-buttons">
                        <button type="button" class="btn btn-sm btn-primary edit-contact-btn" th:data-id="${contact.id}" data-bs-toggle="modal" data-bs-target="#editContactModal">Edit</button>
                        <button class="btn btn-sm btn-danger delete-contact-btn" th:data-id="${contact.id}" data-bs-toggle="modal" data-bs-target="#deleteContactModal">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
            <div th:insert="components/pagination :: pagination (currentPage=${currentPage}, totalPages=${totalPages}, size=${size}, baseUrl='/contacts')"></div>
        </div>
    </div>

    <div th:insert="modals/add-contact :: add-contact"></div>

    <div th:insert="modals/edit-contact :: edit-contact"></div>

    <div th:insert="modals/delete-contact :: delete-contact"></div>


</section>

</body>

</html>

