<div th:fragment="sidebar" class="sidebar bg-dark py-3" id="sidebar">
    <ul>
        <li><a th:href="@{/contacts}">Contacts</a></li>
        <li><a th:href="@{/groups}">Groups</a></li>
        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{/admin/users}">Manage Users</a></li>
        <hr>
        <li class="my-2">
            <a th:href="@{/auth/logout}" class="text-white">
                <i class="fas fa-user"></i> Logout
            </a>
        </li>
    </ul>
</div>
