<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-layout.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body>

<section layout:fragment="content">
    <!-- Content -->
    <div class="content container my-5">
        <!-- Error Messages Section -->
        <div th:if="${not #lists.isEmpty(errors)}" class="alert alert-danger d-flex align-items-center">
            <ul class="mb-0">
                <li th:each="error : ${errors}" th:text="${error}"></li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Users List</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">
                Add User
            </button>
        </div>
        <div class="table-container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Role</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, status : ${users}">
                <td th:text="${status.index + 1}">1</td>
                <td th:text="${user.email}">Name</td>
                <td th:text="${user.role.name}">Role</td>
                <td th:text="${user.createdAt}">Created At</td>
                <td>
                    <div class="action-buttons">
                        <button type="button" class="btn btn-sm btn-primary edit-user-btn" th:data-id="${user.id}" data-bs-toggle="modal" data-bs-target="#editUserModal">Edit</button>
                        <button class="btn btn-sm btn-danger delete-user-btn" th:data-id="${user.id}" data-bs-toggle="modal" data-bs-target="#deleteUserModal">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
            <div th:insert="components/pagination :: pagination (currentPage=${currentPage}, totalPages=${totalPages}, size=${size}, baseUrl='/admin/users')"></div>
        </div>
    </div>

    <div th:insert="modals/add-user :: add-user"></div>

    <div th:insert="modals/edit-user :: edit-user"></div>

    <div th:insert="modals/delete-user :: delete-user"></div>


</section>

</body>

</html>

