<div th:fragment="edit-contact" class="modal fade" id="editContactModal" tabindex="-1" aria-labelledby="editContactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-3">
            <div class="modal-header">
                <h5 class="modal-title" id="editContactModalLabel">Edit Contact</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editContactForm" th:action="@{/contacts/edit}" method="post">
                    <input type="hidden" id="editId" name="id">
                    <div class="mb-3">
                        <label for="editFirstName" class="form-label">First Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="editFirstName" name="firstName" required>
                    </div>
                    <div class="mb-3">
                        <label for="editLastName" class="form-label">Last Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="editLastName" name="lastName" required>
                    </div>
                    <div class="mb-3">
                        <label for="editPhone" class="form-label">Phone<span class="text-danger">*</span></label>
                        <input type="tel" class="form-control" id="editPhone" name="phone" required>
                    </div>
                    <div class="mb-3">
                        <label for="editEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="editEmail" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="editAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="editAddress" name="address">
                    </div>
                    <div class="mb-3">
                        <label for="editJobTitle" class="form-label">Job</label>
                        <input type="text" class="form-control" id="editJobTitle" name="jobTitle">
                    </div>
                    <div class="mb-3">
                        <label for="editLongitude" class="form-label">Longitude</label>
                        <input type="number" step="any" class="form-control" id="editLongitude" name="longitude">
                    </div>
                    <div class="mb-3">
                        <label for="editLatitude" class="form-label">Latitude</label>
                        <input type="number" step="any" class="form-control" id="editLatitude" name="latitude">
                    </div>
                    <div class="mb-3">
                        <label for="group" class="form-label">Group</label>
                        <select class="form-control form-select" id="group" name="groupId">
                            <option th:each="group : ${groups}"
                                    th:value="${group.id}"
                                    th:text="${group.name}">Select Group</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary my-4">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
