<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-layout.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body>

<section layout:fragment="content">
    <!-- Content -->
    <div class="content container-fluid mt-4">
        <div class="row">
            <div class="col-md-9">
                <h2>Content Section</h2>
                <p>Here goes the main content area.</p>
            </div>
        </div>
    </div>

</section>

</body>

</html>
