<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-layout.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body>

<section class="mx-lg-5" layout:fragment="content">
    <!-- Content -->
    <div class="content container-fluid my-4">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Contacts</span>
                        <i class="fas fa-address-book fa-2x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Total Contacts</h5>
                        <p class="card-text display-4" th:text="${totalContacts}">0</p>
                        <a th:href="@{/contacts}" class="btn btn-light">Go to page</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Groups</span>
                        <i class="fas fa-users fa-2x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Total Groups</h5>
                        <p class="card-text display-4" th:text="${totalGroups}">0</p>
                        <a th:href="@{/groups}" class="btn btn-light">Go to page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>

</html>
