<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>Login Page</title>
</head>

<body>

<section layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card shadow mt-4">
                    <div class="card-body p-4">
                        <div th:if="${success}" class="alert alert-success" role="alert">
                            <span th:text="${success}"></span>
                        </div>
                        <h3 class="text-center mb-4">Welcome</h3>
                        <form th:action="@{/auth/login}" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" id="email" name="email" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <div th:if="${error}" class="mb-3">
                                <div class="alert alert-danger" role="alert" th:text="${error}"></div>
                            </div>
                            <div class="text-center mb-3">
                                <p>Don't have an account? <a href="/register">Register here</a>.</p>
                            </div>
                            <div class="d-grid mt-5">
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
