.sidebar {
    position: fixed;
    top: 56px;
    left: -250px; /* Inițial ascuns în afara ecranului */
    width: 250px;
    height: 100%;
    transition: all 0.7s ease;
}

.sidebar.active {
    left: 0; /* Afisat complet cand este activat */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #4e5d6c;
}

.sidebar ul li a {
    color: #adb5bd;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    color: #ffffff;
    background-color: #495057;
}

.content {
    transition: all 0.6s ease;
}

.content.with-sidebar {
    padding-left: 280px;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.table-container {
    overflow-x: auto;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Lățime maximă pe dispozitive mobile */
        max-width: 250px; /* Limitare la 250px */
        z-index: 1031; /* Asigură că este deasupra conținutului */
    }

    .sidebar.active {
        left: 0; /* Sidebar-ul vine peste conținut pe mobile */
    }

    .content.with-sidebar {
        padding-left: 0; /* Conținutul nu se mișcă pe mobile */
    }
}
